## PyBank

![Revenue](Images/revenue-per-lead.png)

* In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. You will give a set of financial data called [budget_data.csv](PyBank/Resources/budget_data.csv). The dataset is composed of two columns: `Date` and `Profit/Losses`. (Thankfully, your company has rather lax standards for accounting so the records are simple.)

* Your task is to create a Python script that analyzes the records to calculate each of the following:

  * The total number of months included in the dataset

  * The net total amount of "Profit/Losses" over the entire period

  * The average of the changes in "Profit/Losses" over the entire period

  * The greatest increase in profits (date and amount) over the entire period

  * The greatest decrease in losses (date and amount) over the entire period

* As an example, your analysis should look similar to the one below:

  ```text
  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
  ```

* In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [2]:
import pandas as pd

In [3]:
pybankdata=pd.read_csv('budget_data.csv')
pybankdata

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [23]:
# !st part done
totalmonths=len(pybankdata['Date'])

In [34]:
#2nd part done
totalprofitloss=pybankdata['Profit/Losses'].sum()
totalprofitloss

38382578

In [10]:
#3rd part done

pybankdata['difference']=pybankdata['Profit/Losses'].diff()
averagechange=pybankdata['difference'].mean()
averagechange

-2315.1176470588234

In [21]:
greatestinc=pybankdata['difference'].max()
greatestmonth=pybankdata[pybankdata['difference']==greatestinc].iat[0,0]
greatestdec=pybankdata['difference'].min()
greatestmonthdec=pybankdata[pybankdata['difference']==greatestdec].iat[0,0]

In [31]:
writestring=f'''
Financial Analysis
----------------------------
Total Months: {totalmonths}
Total: $ {totalprofitloss}
Average  Change: $ {averagechange:.2f}
Greatest Increase in Profits: {greatestmonth} ({greatestinc:.0f})
Greatest Decrease in Profits: {greatestmonthdec} ({greatestdec:.0f})'''

print(writestring)

Financial Analysis
----------------------------
Total Months: 86
Total: $ 38382578
Average  Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 (1926159)
Greatest Decrease in Profits: Sep-2013 (-2196167)

In [33]:
textfile=open('analysis//pybank.txt','w')

textfile.write(writestring)
textfile.close()